/* For information on how to create your own theme, please refer to:
http://ionicframework.com/docs/theming/ */
:root {
  --ion-font-family: "Inter", sans-serif;
  --color: #ffffff;
}
/* Fondo global tipo tu body (para Tabs + cualquier pantalla) */
ion-content {
  --background:
    radial-gradient(
      800px 500px at 80% 20%,
      rgba(56, 189, 248, 0.35),
      transparent 70%
    ),
    linear-gradient(135deg, #020617, #062874);
}

/* (Opcional) Evita línea/borde superior del header */
ion-header {
 border: none;
  --ion-background-color: transparent;
--min-height: 90px;
  /* border-top: 1px solid rgba(255, 255, 255, 0.12); */
  /* border-bottom: 1px solid rgba(255, 255, 255, 0.12); */
  box-shadow: none;
  backdrop-filter: blur(14px);
  height: 90px;
}

ion-toolbar {
  --border-width: 0 !important;
  --border-color: transparent !important;
  box-shadow: none !important;
 
}
.header-md::after {
  background: transparent !important;
}

/* (Opcional) Tab bar “glass” y sin fondo sólido */
ion-tab-bar {
  --background: transparent;
  --color: #ffffffbf;
  border-top: 1px solid rgba(255, 255, 255, 0.12);
  backdrop-filter: blur(14px);
  padding-top: 6px;

  /*  estilo IOS Tab flotante
  margin: 20px; 
  border-radius: 20px;
 */
}

.user-menu-popover::part(content) {
  background: transparent;
  box-shadow: none;

  padding: 0; /* elimina padding interno de Ionic */
  margin: 0;
  padding-top: 10px;

  width: auto;
  min-width: 0;
  max-width: none;

  height: auto;
  min-height: 0;

  display: inline-block; /* hace que colapse al contenido */
}

.user-menu-popover::part(arrow) {
  display: none;
}

ion-list {
  --background: transparent;
  --ion-item-background: transparent;
  --ion-item-color: #ffffff;
}

ion-item {
  --background: transparent;
  --color: #ffffff;
  --padding-start: 0;
}

.select-popover-glass::part(content) {
  background: transparent;
  box-shadow: none;

  padding: 0;
  margin: 0;
  padding-top: 10px;

  width: full;
  min-width: 0;
  max-width: none;

  height: auto;
  min-height: 0;

  display: inline-block;
}

.select-popover-glass::part(arrow) {
  display: none;
}

/* DARK MODE */
@media (prefers-color-scheme: dark) {
  :root {
    --ion-background-color: #041b4d;
    --ion-text-color: #ffffff;
  }
}

/* LIGHT MODE */
@media (prefers-color-scheme: light) {
  :root {
    --ion-background-color: #041b4d;
    --ion-text-color: #ffffff;
  }
}
